- title "Advertiser Types"

%table
  %tr
    %th Name
    %th Description
    %th{:colspan => 3, :style => "text-align:center;"} Actions

  - @advertiser_types.each do |advertiser_type|
    %tr
      %td= advertiser_type.advertiser_type
      %td= advertiser_type.description
      %td= link_to 'Show', advertiser_type
      %td= link_to 'Edit', edit_advertiser_type_path(advertiser_type)
      %td= link_to 'Destroy', advertiser_type, :confirm => 'Are you sure?', :method => :delete

= paginate @advertiser_types

%br

= link_to 'New Advertiser type', new_advertiser_type_path
